<!-- views/iletisim.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>İletişim</title>
</head>

<body>
    <header style="float: left; width: auto; background-color: #2c3633;">
        <table style="border-collapse: collapse; background-color: #2c3633; width: auto; height: 75px; margin: 0;">
            <tr>
                <td style="padding: 0;">
                    <a href="http://localhost:3000" style="display: inline-block;">
                        <button style="border: none; background-color: #2c3633; color: white; width: 200px; height: 75px; cursor: pointer;">Anasayfa</button>
                    </a>
                    <a href="http://localhost:3000/iletisim" style="display: inline-block;">
                        <button style="border: none; background-color: #2c3633; color: white; width: 200px; height: 75px; cursor: pointer;">İletişim</button>
                    </a>
                    <a href="https://tr.wikipedia.org/wiki/T%C3%BCrkiye%27nin_il%C3%A7eleri" style="display: inline-block;">
                        <button style="border: none; background-color: #2c3633; color: white; width: 200px; height: 75px; cursor: pointer;">Türkiye il ilçe sayfası</button>
                    </a>
                </td>
            </tr>
        </table>
    </header>
    <br><br><br>

    <div style="margin: 5%;">
        <h2>İletişim Bilgileri</h2>
        <p>Buraya iletişim bilgilerinizi girebilirsiniz.</p>
        <ul>
            <li>Adres: Backend Mahallesi, Express Sokak No: 2024, Nodejs/Javascript</li>
            <li>Telefon: 121.121.22.1</li>
            <li>E-posta: nodejs@express.com</li>
        </ul>
    </div>

</body>

</html>